.cd-ta{

	min-height: 200px;
	min-width: 300px;
	resize: none;
	border:none;
    font-size: 18px;
    padding: 3% 5%;

}

.cd-selection::selection{
	color:white;
	background-color:#5c5c5c;
}


$directions: 'u','d','r','l';

@each $glow_dir in $directions {
	.cd-glow-#{$glow_dir} { 


		$active_color : #007eff;
		$inactive_color : #81b1e2;

		$stick_thick : 5px;

		@if $glow_dir=='u'{
			border: 5px solid $inactive_color;
		} @else if $glow_dir=='d'{

		} @else if $glow_dir=='r'{
			border-inline-start: $stick_thick solid $inactive_color;
		} @else{

		}	


	    &:hover,&:focus{
	    	outline: none;
	    	border-color: $active_color;
	    }


	}
}

.cd-input{
	@extend .cd-h-pad-sm;
	@extend .cd-v-pad-md;
	font-family: sans-serif;
	font-size: 1rem;
}
