$pad_horz:1rem;
$pad_vert:1rem;

$off_black:#4d4d4d;
$vibrant_purple:#dd4eb8;
$vibrant_purple:#dd4eb8;
$vibrant_orange:#ff7a01;
$text_color:#ffffff;

button:focus{
	outline: 2px solid blueviolet;
}

.cd-btn{

	$border_w : 2px;

	$btn_bg : $vibrant_purple;
	$btn_txt_color : $text_color;
	color: $btn_txt_color;
	background-color: $btn_bg;
	padding: $pad_horz $pad_vert;
	cursor:pointer;
	transition: all 1s;
	border:none;


	&-shadow{
		@extend .cd-btn;
		&:hover{
			box-shadow: -2px 3px 6px 2px #4d4d4d;
		}	
	}

	&-popout{
		@extend .cd-btn;
		&:hover{
			transform: scale(1.1,1.1);
		}	
	}

	&-popin{
		@extend .cd-btn;
		&:hover{
			transform: scale(0.9,0.9);
		}
	}

	@keyframes buzz_anim{
	  	0%{
			transform:translateX(0%);
		}
		10%{
			transform:translateX(10%);
		}
		20%{
			transform:translateX(0%);
		}
		30%{
			transform:translateX(-10%);
		}
		40%{
			transform:translateX(0%);
		}
		50%{
			transform:translateX(10%);
		}
		60%{
			transform:translateX(0%);
		}
		70%{
			transform:translateX(-10%);
		}
		80%{
			transform:translateX(0%);
		}
		90%{
			transform:translateX(10%);
		}
		100%{
			transform:translateX(0%);
		}
	}

	&-buzz{
		@extend .cd-btn;
		&:focus{
			animation: buzz_anim 1s;
		}	
	}

	&-darken{
		@extend .cd-btn;
		&:hover{
			background-color:darken($btn_bg,10%);
		}	
	}

	&-enlighten{
		@extend .cd-btn;
		&:hover{
			background-color:lighten($btn_bg,10%);
		}	
	}

	&-border{
		@extend .cd-btn;
		border:$border_w solid $text_color;
	}

	&-circle{
		@extend .cd-btn;
		width: 4rem;
		height: 4rem;
		border-radius: 2rem;
	}

	&-inverse{
		@extend .cd-btn;
		border:2px solid $btn_txt_color;
		&:hover{
			color : $btn_bg;
			background-color : $btn_txt_color;
			border:2px solid $btn_bg;
		}
	}

}

.cd-switch{

	$switch_h:25px;
	$switch_w:75px;

	$switch_bg_color:ghostwhite;
	$switch_btn_color:dodgerblue;

	height: $switch_h;
	width: $switch_w;
	position: relative;
	display: inline-block;

	&>input{
		height: 0;
		width: 0;
		opacity: 0;
	}

	&>span{
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		position: absolute;
		height: $switch_h;
		width: $switch_w;
		background-color: $switch_bg_color;
		transition: all ease-in-out 0.4s;
		padding: 2px;
	}

	&>span:before{
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		position: absolute;
		content:"";
		height: $switch_h;
		width: $switch_h;
		background-color: $switch_btn_color;
		transition: all ease-in-out 0.4s;
		margin: 2px;

	}

	&>input:checked+span{
		background-color: $switch_btn_color; 
	}

	&>input:checked+span:before{
		transform: translateX( $switch_w - $switch_h );
		background-color: $switch_bg_color;
	}


	/*Round Shape Switch Button*/
	&-round{
		@extend .cd-switch;

		&>span{
			border-radius: 20px;
		}

		&>span:before{
			border-radius: 20px;
		}

	}

}

.cd-scroll{

	$avg_width:0.625rem;

	&-slim{

		&::-webkit-scrollbar{
			width:$avg_width/3;
		}

		&::-webkit-scrollbar-thumb{
		    background:grey;
		}

		&::-webkit-scrollbar-track {
	  		background:white;
	  	}
	}


	&-transparent{

		&::-webkit-scrollbar{
			width:$avg_width;
		}

		&::-webkit-scrollbar-thumb{
		    background:grey;
		}

		&::-webkit-scrollbar-track {
	  		background:#ffffff00;
	  	}
	}

	&-round{

		&::-webkit-scrollbar{
			width:$avg_width;
		}

		&::-webkit-scrollbar-thumb{
		    background:white;
		    border-radius: $avg_width;
			width:$avg_width;
			height:$avg_width;
		}

		&::-webkit-scrollbar-track {
	  		background:#00000075;
	  	}
	}

	&-regular{

		&::-webkit-scrollbar{
			width:$avg_width;
		}

		&::-webkit-scrollbar-thumb{
		    background:white;
		}

		&::-webkit-scrollbar-track {
	  		background:#00000075;
	  	}
	}

}


.cd-card{

	$card_w : 12rem;
	$card_h : $card_w+0.5rem;
	$bg_color : #fe731e;

	width: $card_w;
	height: $card_h;
	transition: all 0.5s ease-in-out;

	&-solid{
		@extend .cd-card;
		background-color: $bg_color;
		border-right: $card_w/28 solid darken($bg_color,10%);
		border-bottom: $card_w/15 solid darken($bg_color,10%);
		border-radius: $card_w/10;

		&:hover{
			box-shadow: 1px 7px 22px 2px #5e5e5e;
		}

	}

	&-solid-curve{
		@extend .cd-card;
		background-color: $bg_color;
		border-bottom: $card_w/18 solid darken($bg_color,10%);
		border-radius: $card_w/10;

		&:hover{
			box-shadow: 1px 7px 22px 2px #5e5e5e;
		}

	}

	&-feature{
		@extend .cd-card;
	    height: 20rem;
    	width: 15rem;
		&:hover{
			box-shadow: 1px 7px 22px 2px #5e5e5e;
		}
	}

	&-img{
		height: 70%;
		overflow: hidden;
	}

	&-txt{
		@extend .cd-flex-center;
		color: black;
		height: 30%;
		background-color:white;
		font-size: 0.8rem;
		padding: 0 5%;
	}

}


.cd-ta{

	min-height: 200px;
	min-width: 300px;
	resize: none;
	border:none;
    font-size: 18px;
    padding: 3% 5%;

}

.cd-selection::selection{
	color:white;
	background-color:#5c5c5c;
}


$directions: 'u','d','r','l';

@each $glow_dir in $directions {
	.cd-glow-#{$glow_dir} { 


		$active_color : #007eff;
		$inactive_color : #81b1e2;

		$stick_thick : 5px;

		@if $glow_dir=='u'{
			border: 5px solid $inactive_color;
		} @else if $glow_dir=='d'{

		} @else if $glow_dir=='r'{
			border-inline-start: $stick_thick solid $inactive_color;
		} @else{

		}	


	    &:hover,&:focus{
	    	outline: none;
	    	border-color: $active_color;
	    }


	}
}

.cd-srch-bar{
	width: 250px;
	height: 50px;
	border-radius: 50px;

	display: flex;

}

.cd-flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}


.cd-h-div{
	margin: 0 auto;
	text-align: center;
}

.cd-h-div>div{
	display: inline-block;
}

.cd-v-div{
	width: 100%;
}

.cd-heading{
	font-size: 2em;
	font-family: sans-serif;
	text-align: center;
}
























